<div id="<%= dom_id cinema %>">
  <p>
    <strong>Cinema:</strong>
    <%= cinema.cinema_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= cinema.title %>
  </p>

  <p>
    <strong>County:</strong>
    <%= cinema.county %>
  </p>

  <p>
    <strong>Uri:</strong>
    <%= cinema.uri %>
  </p>

</div>
